body {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: 'Roboto' !important;
}

#hover_info {
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #e3e3e3;
}

#eval_text, #opt_text {
  background-color: #ffffff;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}
#map {
  height: 100%;
  margin: 0 10px 10px 10px;
}
.absolute-maps {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 15px; */
  background-color: #ffffff;
}
#map-1, #map-2 {
  /* width: calc(50vw - 30px); */
  height: calc(100vh - 115px);
}

#exit_filter_modal_toggle_btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  background-color: red;
  padding: 8px;
  color: #ffffff !important;
  z-index: 1000000;
}
#exit_filter_modal_toggle_btn:hover {
  opacity: 0.8;
}
#exit_filter_modal_toggle_btn:focus, #exit_filter_modal_toggle_btn:active {
  outline: none;
}

#filter_slider {
  left: 15px;
  bottom: 15px;
  width: 490px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 0 2px rgba(255, 255, 255, 0.24);
  border-radius: 3px;
  /* overflow: hidden; */
  z-index: 100000;
  padding: 15px;
}
#filter_slider button {
  width: 100%;
  padding: 5px 8px;
  font-size: 0.8rem;
  /* margin-left: 0; */
}
.range-slider {
  margin: 15px;

}

.range-slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

#slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
#slider {
    width: 50%;
    margin: 2em auto;
}

#slider-1 label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 15px;
}

/* below is not necessary, just for style */
#slider-1 {
    margin-top: 0px;
    margin-bottom: 30px;
}

#slider-2 label {
    position: absolute;
    width: 20px;
    margin-left: -15px;
    text-align: center;
    margin-top: 15px;
}

/* below is not necessary, just for style */
#slider-2 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.leaflet-container {
  font: 14px/1.5 "Roboto Helvetica Neue", Arial, Helvetica, sans-serif;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-text {
  margin-left: 8px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #d6d6d6;
  overflow: hidden;
}

.toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #0274D9;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .active-bg {
  transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
  transform: translate3d(25%, 0, 0);
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.formdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Style buttons */
.btn {
  background-color: #0274D9; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.map-main-title {
  font-size: 1.3rem;
  margin: 0;
  padding: 6px 0;
  text-align: center;
}

.map-second-title {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.1rem;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 12px;
  text-align: center;
}

.tooltip_custom {
	padding: 10px;
	position: relative;
	margin: 15px;
	text-align: center;
}

.tooltip_custom::after {
	background-color: #333;
  border-radius: 7px;
  font-size: 0.9rem;
	color: #ffffff;
	display: none;
	padding: 7px 12px;
	position: absolute;
	text-align: center;
  z-index: 999;
}

.tooltip_custom::before {
	background-color: #333;
	content: ' ';
	display: none;
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: 999;
}

.tooltip_custom:hover::after {
	display: block;
    text-align: justify;
    line-height: 1.6;
}

.tooltip_custom:hover::before {
	display: block;
}

.tooltip_custom.top::after {
	content: attr(data-tooltip-content);
	top: 0;
  left: 50%;
  min-width: 500px;
	transform: translate(-50%, calc(-100% - 10px));
}

.tooltip_custom.top::before {
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip_custom.bottom::after {
	content: attr(data-tooltip-content);
	bottom: 0;
  left: 50%;
  min-width: 450px;
	transform: translate(-50%, calc(100% + 10px));
}

.tooltip_custom.bottom::before {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.tooltip_custom.right::after {
	content: attr(data-tooltip-content);
	top: 50%;
	right: 0;
	transform: translate(calc(100% + 10px), -50%);
}

.tooltip_custom.right::before {
	top: 50%;
	right: 0;
	transform: translate(calc(100% + 5px), -50%) rotate(45deg);
}

.tooltip_custom.left::after {
	content: attr(data-tooltip-content);
	top: 50%;
	left: 0;
	transform: translate(calc(-100% - 10px), -50%);
}

.tooltip_custom.left::before {
	top: 50%;
	left: 0;
	transform: translate(calc(-100% - 5px), -50%) rotate(45deg);
}

@media only screen and (max-width: 992px) {
  .result-white-box {
    font-size: 0.8rem;
  }
  #eval_text, #opt_text {
    padding: 8px 12px;
  }
}

@media only screen and (max-width: 850px) {
  .result-white-box {
    font-size: 0.7rem;
  }
  #eval_text, #opt_text {
    padding: 6px 9px;
  }
}

@media only screen and (max-width: 768px) {
  #filter_slider {
    font-size: 0.8rem;
    width: 410px;
  }
  .map-main-title {
    font-size: 1.1rem;
    padding: 5px;
  }
  .map-second-title {
    font-size: 0.9rem;
  }
  #absolute-maps-wrapper {
    flex-direction: column !important;
  }
  #absolute-maps-wrapper > div {
    width: 100% !important;
    height: 50% !important;
  }
  #absolute-maps-wrapper > div:nth-child(2) {
    margin-top: 7px !important;
  }
  #map-1, #map-2 {
    height: calc(100% - 30px);
  }
  #exit_filter_modal_toggle_btn {
    width: 100px;
    padding: 5px;
    bottom: 20px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 450px) {
  #filter_slider {
    font-size: 0.75rem;
    width: calc(100% - 30px);
  }
  .map-main-title {
    font-size: 0.9rem;
    padding: 5px;
  }
  .map-second-title {
    font-size: 0.8rem;
  }
}