{% include css/bootstrap.min.css %}
{% include css/main.css %}

/* Custom layout */

.description{
  font-size: 3.5em;
  font-weight: 700;
}
.skills{
  font-weight: 700!important;
}

.modal-body p {
  text-align: left;
}

#contact p {
  text-align: center;
}

#about .col-lg-12{
  padding-left: 0px;
  padding-right: 0px;
}
